[Desktop Entry]
Name=Gagger
Comment=An unofficial 9gag.com browser
Exec=qmlscene $@ ./Gagger.qml
Icon=./graphics/Gagger.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
